/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;

}

/* Write your code below this */
.navbar {
  width: 100%;
  padding: 26px 60px;
  display: flex;
  justify-content: space-between;
}


li {
  display: inline-block;
  list-style-type: none;
  margin: 0 12px;
}
.journey {
background: #e8f5e9;
padding: 57px 0;

}


#coding{
  color:rgb(0, 0, 0);
  padding: 32px;
  text-align:center;
  font-weight: 500;
  margin-bottom: 57px;

}
.journey-list{
  display: flex;
  width: 80%;
  margin: 0 10%;
  justify-content: space-between;

}
.hero {
  background-image: url('/images/hero.png');
  font-family: 'Segoe UI', Tahoma, sans-serif;
  height: 500px;
  padding-top: 219px;
  padding-left: 103px;
}

h1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif  ;
}

button {
  margin-top: 35px;
  padding: 12px 30px;
  background: #52647E;
  color: white;
  border-radius: 10px;
}
.journey-card{
  width: 30%;
  background-color: white;
  padding: 25px;
  border-radius: 40px;
  color:gray;
}
.journey-image {
border-radius: 25px;
margin-bottom: 25px;
}
.h3 {
font-weight: 500;
font-size: 20px;
color: black;
margin-bottom: 12px;

}
footer {

  background: #333232;
  text-align: center;
  color: white;
  padding: 30px;

}
.aboutme{
  background-color: white;
  text-align:center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #333232;
}
.golazo{
  text-align:center;
  background-color: rgb(239, 239, 14);
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.navbar-items li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 15px;
  background: #3498db;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.navbar-items li:hover {
  background: #2980b9;
}



